<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SmokingMobile_app</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
   <access origin="*" />

    <plugin name="cordova-plugin-call-number" spec="https://github.com/ihadeed/cordova-plugin-call-number" source="git" />
   

    <!-- According to the docs you only need this block -->
    <!-- This plugin provides information about the device's location, such as latitude and longitude. -->
    <plugin name="cordova-plugin-geolocation" spec="~4">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="This app uses your location for maps." />
</plugin>
      <platform name="android">
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
</platform>
</widget>
